<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451960023573-cv8h620i3m08ldc3bs0ksn77obok47od.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451960023573-cv8h620i3m08ldc3bs0ksn77obok47od</string>
	<key>API_KEY</key>
	<string>AIzaSyDzF6ledvbWgbYTBfhiRR8L8Ixqopnv5vA</string>
	<key>GCM_SENDER_ID</key>
	<string>451960023573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clubhouseTimed</string>
	<key>PROJECT_ID</key>
	<string>clubhouse-timed-working-title</string>
	<key>STORAGE_BUCKET</key>
	<string>clubhouse-timed-working-title.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:451960023573:ios:e32071e8dd1277eb62fc1c</string>
	<key>DATABASE_URL</key>
	<string>https://clubhouse-timed-working-title-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>
